:root{
    --primary-color: rgba(101, 119, 128, 0.774);
    --secondary-color: rgb(97, 205, 255);
    --dark-color: rgba(81, 81, 82, 0.678);
    --white-color: #e7f7f7;
}

body{
    color: var(--dark-color);
}

nav{
    background-color: var(--dark-color);
}

footer{
    background-color: var(--dark-color);
}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
}

footer{
    padding-right: 1rem;
}

footer .social>a{
    color: var(--white-color);
    opacity: 0.75;
}

footer .social>a:hover{
    opacity: 0.9;
    color: var(--secondary-color);
}

.bsicon{
    color: rgb(15, 4, 119);
}

.jsicon{
    color: rgb(89, 4, 226);
}

.html5icon{
    color: rgb(0, 162, 255);
}

.css3icon{
    color: rgb(11,82,214);
}

.checklist >li i{
    color: var(--secondary-color);
}

code[class*="language-"],
    pre[class*="language-"] {
        white-space: pre-wrap;
        word-break: break-all;
        word-wrap: break-word;
    }

main>.container {
    padding: 60px 15px 0;
}

.btnCustom{
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.btnCustom:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}